<div class="wrapper">
	<div class="content">

		<%- include('sections/tkachova_page_of_separate_tour.html'); -%>

	</div><%# End content %>

	<%- include('sections/footer.html'); -%>
</div>	<%# End wrapper %>
