<div class="wrapper">
	<div class="content">


	<%- include('sections/head_home_page.html'); -%>

	<%- include('sections/destinations.html'); -%>

	<%- include('sections/blog-section.html'); -%>


	</div><%# End content %>

	<%- include('sections/footer.html'); -%>
</div>	<%# End wrapper %>
