	<script src="./libs/jquery/jquery-3.4.1.min.js"></script>
	<script src="./libs/bootstrap/js/popper.min.js"></script>
	<script src="./libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="./libs/owl-carousel/js/owl.carousel.min.js"></script>
	<script src="./libs/dots/dotdotdot.js"></script>
	<script src="./js/script.js"></script>
</body>

</html>