	<script src="./libs/jquery/jquery-3.4.1.min.js"></script>
	<script src="./libs/bootstrap/js/popper.min.js"></script>
	<script src="./libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="js/script-contacts.js"></script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7hebjuc07YFys_Ok9ZAaPiZ_j5M4MrhY&callback=initMap"
	async defer></script>
</body>

</html>