<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<title>Tour Partner</title>
	<link rel="shortcut icon" type="image/x-icon" href="./fav/favicon.ico">
	<link rel="stylesheet" href="./libs/resetcss/reset_2.0.min.css">
	<link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/style-tours.css">
</head>
<body>