@charset "UTF-8";
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.ttf) format("opentype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Medium.ttf) format("opentype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Light.ttf) format("opentype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Italic.ttf) format("opentype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf) format("opentype");
    font-weight: 400;
    font-style: normal
}

body,
html {
    min-height: 100vh
}

body {
    background-color: #fff;
    color: #000;
    font-family: Oswald, sans-serif;
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0
}

.wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh
}

.content {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.tour-btn {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 45px;
    background-color: #181818;
    font-size: 1.14286rem;
    font-weight: 400;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: transform .2s ease
}

.tour-btn:hover {
    transform: scale(1.05)
}

@media screen and (max-width:769px) {
    .tour-btn {
        width: 100%
    }
}

.tel_svg {
    cursor: pointer;
    fill: #fff
}

.head {
    width: 100%;
    position: fixed;
    z-index: 16777271
}

.head .menu_bar {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1.85714rem;
    height: 1.85714rem
}

.head .menu_bar .line {
    border-radius: 30px;
    background-color: #fff;
    height: 14%;
    width: 100%
}

.head__items_name {
    color: #fff;
    font-weight: 500;
    font-size: 2.14286rem;
    line-height: 1
}

.head__items_name:hover {
    color: #fff;
    text-decoration: none
}

.head__items_link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    min-height: 93px;
    text-align: center
}

@media (max-width:767px) {
    .head__items_link {
        min-height: 0
    }
}

.head__items_linked {
    color: #fff;
    font-size: 1.14286rem;
    line-height: 1
}

.head__items_linked:hover {
    color: #fff;
    text-decoration: none
}

.head__items_linked:before {
    content: "";
    display: block;
    width: 1px;
    height: 0;
    background-color: #fff;
    margin: auto;
    transition: all .15s linear
}

@media (max-width:767px) {
    .head__items_linked:before {
        display: none
    }
}

.head__items_tel {
    line-height: 1.3;
    color: #fff;
    font-weight: 500;
    font-size: 1.28571rem
}

@media (max-width:991px) {
    .head__items_tel {
        font-size: 1.14286rem;
        white-space: nowrap
    }
}

.head__items_tel:hover {
    color: #fff;
    text-decoration: none
}

.active:before {
    content: "";
    display: block;
    width: 1px;
    height: 75px;
    background-color: #fff;
    margin: auto;
    transition: all .15s linear
}

@media (max-width:767px) {
    .active:before {
        display: none
    }
}

.active:hover:before {
    content: "";
    display: block;
    width: 1px;
    height: 75px;
    background-color: #fff;
    margin: auto;
    transition: all .15s linear
}

@media (max-width:767px) {
    .active:hover:before {
        display: none
    }
}

.search {
    min-height: 60vh;
    padding: 22.5vh 0 10vh
}

.search,
.search_row {
    position: relative
}

.search:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/head_about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3
}

.search__choose {
    padding: 25px 60px 80px;
    min-width: 1260px;
    background-color: hsla(0, 0%, 100%, .26);
    display: -ms-flexbox;
    display: flex;
    border-radius: 12px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative
}

@media (max-width:1260px) {
    .search__choose {
        min-width: 100vw
    }
}

@media (max-width:576px) {
    .search__choose {
        padding: 0
    }
}

.search__form_head {
    background-color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
    min-width: 255px;
    min-height: 55px;
    padding: 12px 15px 22px;
    font-size: 1.28571rem
}

@media (max-width:1200px) {
    .search__form_head {
        min-width: 10px
    }
}

@media (max-width:991px) {
    .search__form_head {
        width: 100%
    }
}

.search__form_input {
    margin-top: -10px;
    background-color: #fff;
    margin: 0 -15px;
    padding: 20px 30px
}

.search__form_input_text {
    padding: 0 15px;
    min-height: 50px;
    background-color: #f2f5f6;
    border: none;
    outline: none;
    min-width: 160px;
    color: #72728c
}

@media (max-width:1200px) {
    .search__form_input_text {
        min-width: 100%
    }
}

.search__form_input_text:placeholder {
    color: #72728c
}

.search__form_input .city {
    max-height: 50px;
    min-width: 255px
}

@media (max-width:1200px) {
    .search__form_input .city {
        min-width: 100%
    }
}

.search__form_input .bud {
    max-height: 50px;
    min-width: 190px
}

@media (max-width:1200px) {
    .search__form_input .bud {
        min-width: 100%
    }
}

.scroll_head {
    transition: all .3s linear;
    background-color: hsla(0, 0%, 9%, .6);
    margin-top: -35px;
    padding-bottom: 35px
}

@media (max-width:767px) {
    .scroll_head {
        margin: 0;
        padding: 0
    }
}

.about-us {
    padding: 30px 0 50px
}

@media (min-width:768px) {
    .about-us {
        padding: 50px 0 70px
    }
}

@media (min-width:992px) {
    .about-us {
        padding: 80px 0 100px
    }
}

.about-us__top {
    margin-bottom: 30px
}

@media (min-width:768px) {
    .about-us__top {
        margin-bottom: 50px
    }
}

@media (min-width:992px) {
    .about-us__top {
        margin-bottom: 100px
    }
}

.about-us__suptitle {
    font-size: .85714rem;
    font-weight: 400;
    color: #72728c;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 30
}

.about-us__title {
    font-size: 2.14286rem;
    font-weight: 700;
    color: #181818
}

@media (min-width:768px) {
    .about-us__title {
        font-size: 3.42857rem;
        font-weight: 700;
        color: #181818
    }
}

.about-us__content {
    font-family: Open Sans, sans-serif;
    margin-bottom: 20px
}

@media (min-width:992px) {
    .about-us__content {
        margin-bottom: 90px
    }
}

.about-us__content-title {
    font-size: 1.14286rem;
    font-weight: 700;
    color: #181818;
    line-height: 1.5;
    margin-bottom: 20px
}

@media (min-width:768px) {
    .about-us__content-title {
        font-size: 1.28571rem;
        font-weight: 700;
        color: #181818;
        margin-bottom: 35px
    }
}

.about-us__content-text {
    font-size: 14px;
    font-weight: 400;
    color: #72728c;
    line-height: 1.5;
    margin-bottom: 20px
}

@media (min-width:992px) {
    .about-us__content-text {
        margin-bottom: 30px
    }
}

@media (min-width:1200px) {
    .about-us__content-text {
        margin-bottom: 130px
    }
}

.about-us__content-btn {
    font-family: Oswald, sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.14286rem;
    font-weight: 400;
    color: #fff;
    background-color: #181818;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 10px 40px
}

.about-us__content-btn:hover {
    color: #fff;
    text-decoration: none
}

@media (max-width:767px) {
    .about-us__content-btn {
        width: 100%
    }
}

@media (min-width:768px) {
    .about-us__content-btn {
        display: inline-block
    }
}

.about-us__img-wrapper {
    position: relative;
    padding-top: 91%;
    width: 100%
}

.about-us__img-wrapper>img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.about-us__card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center
}

.about-us__card-icon {
    margin-bottom: 15px
}

.about-us__card-number {
    font-size: 4.28571rem;
    font-weight: 500;
    color: #181818;
    margin-bottom: 15px
}

.about-us__card-text {
    font-size: 1.28571rem;
    font-weight: 400;
    color: #838383;
    text-transform: capitalize
}

.about-us-chernyshenko {
    padding: 50px 0;
    width: 100%;
    background-image: url(../img/Ñoliseum.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

@media (min-width:769px) {
    .about-us-chernyshenko {
        padding: 110px 0
    }
}

.about-us-chernyshenko .mb-5 {
    margin-bottom: 5.3rem!important
}

@media (min-width:769px) {
    .about-us-chernyshenko .mb-5 {
        margin-bottom: 0!important
    }
}

.about-us-chernyshenko__team {
    position: relative;
    background: #fff
}

.about-us-chernyshenko .title-text {
    margin-bottom: 100px
}

.about-us-chernyshenko .title-text p {
    color: #fff;
    font-size: .85714rem;
    text-transform: uppercase;
    letter-spacing: .2em
}

@media (max-width:768px) {
    .about-us-chernyshenko .title-text p {
        color: #000
    }
}

.about-us-chernyshenko .title-text h2 {
    color: #fff;
    font-size: 3.42857rem;
    font-family: Oswald;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize
}

@media (max-width:768px) {
    .about-us-chernyshenko .title-text h2 {
        color: #000
    }
}

@media (min-width:320px) and (max-width:768px) {
    .about-us-chernyshenko .title-text h2 {
        font-size: 2.8rem
    }
}

.about-us-chernyshenko .img-wrapp {
    position: relative;
    padding-top: 67%;
    width: 100%
}

.about-us-chernyshenko .team-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (min-width:769px) {
    .about-us-chernyshenko .team-text {
        padding: 30px;
        min-height: 250px
    }
}

@media (max-width:769px) {
    .about-us-chernyshenko .team-text {
        padding: 25px
    }
}

.about-us-chernyshenko .team-text h3 {
    font-weight: 500;
    font-size: 2.14286rem;
    text-align: center
}

@media (min-width:1024px) {
    .about-us-chernyshenko .team-text h3 {
        margin-bottom: 25px
    }
}

.about-us-chernyshenko .team-text p {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    line-height: 26px;
    color: #72728c;
    font-family: Open Sans;
    font-weight: 300;
    font-style: normal
}

@media (max-width:767px) {
    .about-us-chernyshenko .team-text p {
        padding: 10px 50px 50px
    }
}

.about-us-chernyshenko span {
    z-index: 10;
    position: absolute;
    transform: translateX(-50%);
    top: -37.5px;
    left: 50%;
    background: #fff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.team {
    padding: 110px 0 60px
}

@media (max-width:767px) {
    .team {
        padding: 70px 0 30px
    }
}

.mb-100 {
    margin-bottom: 100px
}

@media (max-width:767px) {
    .mb-100 {
        margin-bottom: 50px
    }
}

.section-title {
    font-size: 3.42857rem;
    font-weight: 400;
    color: #181818
}

@media (max-width:767px) {
    .section-title {
        font-size: 2.85714rem
    }
}

.title-text {
    font-size: .85714rem;
    font-weight: 400;
    color: #72728c;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3
}

@media (max-width:767px) {
    .slider-team {
        max-width: 350px
    }
}

.slider-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 400px
}

.crewman-img-wrapper {
    width: 195px;
    height: 195px
}

.crewman {
    text-align: center
}

.crewman__name {
    font-size: 1.71429rem;
    font-weight: 400;
    color: #181818;
    line-height: 1.3
}

@media (max-width:767px) {
    .crewman__name {
        font-size: 1.42857rem
    }
}

.crewman__descr {
    font-size: 14px;
    font-weight: 400;
    color: #72728c;
    font-family: Open Sans, sans-serif;
    line-height: 1.8
}

.footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/bg-footer.jpg) no-repeat;
    background-size: cover;
    padding: 150px 0 130px
}

@media (max-width:767px) {
    .footer {
        padding: 60px 5px 30px
    }
}

.footer__title {
    font-family: Oswald, sans-serif;
    font-size: 2.57143rem;
    text-align: center;
    color: #fff;
    margin-bottom: 15px
}

@media (max-width:767px) {
    .footer__title {
        font-size: 2.14286rem
    }
}

.footer__subtitle {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 1.28571rem;
    text-align: center;
    color: #fff
}

@media (max-width:767px) {
    .footer__subtitle {
        font-size: 16px
    }
}

.footer .footer-mb-80 {
    margin-bottom: 80px
}

@media (max-width:767px) {
    .footer .footer-mb-80 {
        margin-bottom: 40px
    }
}

.footer__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media (max-width:767px) {
    .footer__form {
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.footer::-webkit-input-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #fff
}

.footer:-moz-placeholder,
.footer::-moz-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #fff
}

.footer:-ms-input-placeholder {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #fff
}

.footer [type=email],
.footer [type=text] {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #fff;
    background-color: hsla(0, 0%, 100%, .5);
    padding: 14px 22px 17px;
    border: none;
    transition: all .2s ease
}

.footer [type=email]:active,
.footer [type=email]:hover,
.footer [type=text]:active,
.footer [type=text]:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, .7)
}

@media (max-width:767px) {
    .footer [type=email],
    .footer [type=text] {
        margin-bottom: 15px
    }
}

.footer [type=text] {
    width: 30%
}

@media (max-width:767px) {
    .footer [type=text] {
        width: 100%
    }
}

.footer [type=email] {
    width: 50%
}

@media (max-width:767px) {
    .footer [type=email] {
        width: 100%
    }
}

.footer [type=submit] {
    width: 15%;
    font-family: Oswald, sans-serif;
    font-size: 1.14286rem;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    background-color: hsla(0, 0%, 100%, .5);
    color: #fff;
    padding: 14px;
    border-radius: 20px;
    transition: all .2s ease
}

.footer [type=submit]:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, .8);
    color: #666
}

@media (max-width:767px) {
    .footer [type=submit] {
        width: 100%
    }
}

.footer__card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff
}

.footer__icon--title {
    font-family: Oswald, sans-serif;
    font-size: 1.71429rem;
    text-transform: uppercase;
    margin-bottom: 25px
}

.footer__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px
}

.footer .img-wrapper {
    max-width: 71px;
    height: 71px;
    position: relative;
    padding-top: 71px;
    width: 100%;
    margin-bottom: 20px
}

.footer .img-wrapper>img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

@media (max-width:767px) {
    .footer .mobile_margin {
        margin-bottom: 25px
    }
}

.footer__link {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease
}

.footer__link:hover {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none
}

.footer .description_margin {
    margin-right: 5px
}