<div class="about_us">
	<div class="container">
		<div class="col text-center">
			<div class="title">
				<h3>simply amazing places</h3>
			</div>
			<div class="big_title">
				<h1>A few words about us</h1>
			</div>
		</div>
		<div class="row content">
			<div class="col-lg-6">
				<div class="text">
					<div class="text_fat">
						<h2>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
					</div>
					<div class="text_thin">
						<h3>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices. In pulvinar rhoncus lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet, consectetur mauris. Curabitur sodales semper est, vel faucibus urna laoreet vel. Ut justo diam, sodales non pulvinar at, vulputate quis neque. Etiam aliquam purus vel ultricies consequat.</h3>
					</div>
					<div class="tour-btn">
						<a href="#">read more</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<img src="../img/about_1.png" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 text-center">
				<img class="imagin" src="../img/montein.png" alt="">
				<div class="spincrement" id="17">17</div>
				<div class="header_text">Online Courses</div>
			</div>
			<div class="col-lg-3 text-center">
				<img class="imagin" src="../img/palm.png" alt="">
				<div class="spincrement" id="213" data-end-value="213">213</div>
				<div class="header_text">Students</div>
			</div>
			<div class="col-lg-3 text-center">
				<img class="imagin" src="../img/Camera.png" alt="">
				<div class="spincrement" id="11923" data-end-value="11923">11923</div>
				<div class="header_text">Teachers</div>
			</div>
			<div class="col-lg-3 text-center">
				<img class="imagin" src="../img/Union.png" alt="">
				<div class="spincrement" id="15" data-end-value="15">15</div>
				<div class="header_text">Countries</div>
			</div>
		</div>
	</div>
	<script> $({someValue: 0}).animate({someValue: 17}, {
		duration: 2000,
		easing:'swing', 
		step: function() {
			$('#17').text(commaSeparateNumber(Math.round(this.someValue)));
		}
	});

	function commaSeparateNumber(val){
		while (/(\d+)(\d{3})/.test(val.toString())){
			val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		}
		return val;
	}
	$({someValue: 0}).animate({someValue: 213}, {
		duration: 2000,
		easing:'swing', 
		step: function() {
			$('#213').text(commaSeparateNumber(Math.round(this.someValue)));
		}
	});

	function commaSeparateNumber(val){
		while (/(\d+)(\d{3})/.test(val.toString())){
			val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		}
		return val;
	}
	$({someValue: 0}).animate({someValue: 11923}, {
		thousandSeparator: " ",
		duration: 1500,
		easing:'swing', 
		step: function() {
			$('#11923').text(commaSeparateNumber(Math.round(this.someValue)));
		}
	});

	function commaSeparateNumber(val){
		while (/(\d+)(\d{3})/.test(val.toString())){
			val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		}
		return val;
	}
	$({someValue: 0}).animate({someValue: 15}, {
		duration: 2000,
		easing:'swing', 
		step: function() {
			$('#15').text(commaSeparateNumber(Math.round(this.someValue)));
		}
	});

	function commaSeparateNumber(val){
		while (/(\d+)(\d{3})/.test(val.toString())){
			val = val.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");
		}
		return val;
	}
</script>
	<!-- <script type="text/javascript">
		$('#btn').click(function (){
			$('.spincrement:eq(0)').spincrement()
			$('.spincrement:eq(1)').spincrement({
				decimalPlaces: 4,
			})
			$('.spincrement:eq(2)').spincrement({
				from: -1.5,
			})
			$('.spincrement:eq(3)').spincrement({
				complete: function (e) {
					e.text( e.text() + " ok ")
				}
			})
			$('.spincrement:eq(4)').spincrement()
		})
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.spincrement').spincrement({

			});
		});
	</script>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery.spincrement.js"></script>
	<script src="js/custom.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->