<section class="about-us">
	<div class="container">
		<div class="row about-us__top">
			<div class="col-12 text-center">
				<h4 class="about-us__suptitle">simply amazing places</h4>
				<h2 class="about-us__title">A few words about us</h2>
			</div>
		</div>
		<div class="row about-us__content">
			<div class="col-lg-6 d-flex flex-column align-items-center align-items-lg-start order-2 order-lg-1">
				<p class="about-us__content-text">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at
					leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="about-us__content-subtext">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique
					at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
					eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices. In pulvinar rhoncus
					lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet, consectetur mauris. Curabitur sodales
					semper est, vel faucibus urna laoreet vel. Ut justo diam, sodales non pulvinar at, vulputate quis neque.
					Etiam aliquam purus vel ultricies consequat.</p>
				<a href="#" class="about-us__content-btn">read more</a>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 mb-3 mb-md-4 mb-lg-0">
				<div class="about-us__img-wrapper">
					<img src="./img/about_1.jpg" alt="AboutUsPhoto" class="about-us__img">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="about-us__card">
					<img src="./img/Isle.svg" alt="Icon" class="about-us__card-icon">
					<span class="about-us__card-number">17</span>
					<p class="about-us__card-text">online courses</p>
				</div> <!-- End. about-us__card -->
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="about-us__card">
					<img src="./img/palm.svg" alt="Icon" class="about-us__card-icon">
					<span class="about-us__card-number">213</span>
					<p class="about-us__card-text">students</p>
				</div> <!-- End. about-us__card -->
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
				<div class="about-us__card">
					<img src="./img/Camera.svg" alt="Icon" class="about-us__card-icon">
					<span class="about-us__card-number">11923</span>
					<p class="about-us__card-text">teachers</p>
				</div> <!-- End. about-us__card -->
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="about-us__card">
					<img src="./img/ship.svg" alt="Icon" class="about-us__card-icon">
					<span class="about-us__card-number">15</span>
					<p class="about-us__card-text">countries</p>
				</div> <!-- End. about-us__card -->
			</div>
		</div>

	</div>
</section> <!-- End .about-us -->