<div class="about_us">
	<div class="about_us-content">
		<div class="col text-center">
			<h3 class="title">simply amazing places</h3>
			<h1 class="big_title">A few words about us</h1>
		</div>
		<div class="row subject">
			<div class="col-lg-6">
				<p class="fat">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<p class="thin">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu laoreet ante, sollicitudin volutpat quam. Vestibulum posuere malesuada ultrices. In pulvinar rhoncus lacus at aliquet. Nunc vitae lacus varius, auctor nisi sit amet, consectetur mauris. Curabitur sodales semper est, vel faucibus urna laoreet vel. Ut justo diam, sodales non pulvinar at, vulputate quis neque. Etiam aliquam purus vel ultricies consequat.</p>
				<a class="tour-btn" href="#">read more</a>
			</div>
			<div class="col-lg-6">
				<img class="about_img" src="img/about_1.png" alt="">
			</div>
		</div>
		<div class="row down">
			<div class="col-lg-3 text-center">
				<img class="imagin" src="img/montein.png" alt="">
				<div class="spincrement1"></div>
				<div class="footer_text">Online Courses</div>
			</div>
			<div class="col-lg-3 text-center">
				<img class="imagin" src="img/palm.png" alt="">
				<div class="spincrement2"></div>
				<div class="footer_text">Students</div>
			</div>
			<div class="col-lg-3 text-center">
				<img class="imagin" src="img/Camera.png" alt="">
				<div class="spincrement3"></div>
				<div class="footer_text">Teachers</div>
			</div>
			<div class="col-lg-3 text-center">
				<img class="imagin" src="img/Union.png" alt="">
				<div class="spincrement4"></div>
				<div class="footer_text">Countries</div>
			</div>
		</div>
	</div>
</div>
