<section id="contact" class="contact px-2 px-md-0">
	<div class="container">

		<div class="row mb-4 mb-md-5">
			<div class="col">
				<h3 class="contact__title">Get in touch with us</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6 mb-5 mb-lg-0">

				<p class="contact__text">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu laoreet ante, sollicitudin volutpat quam.</p>

				<div class="contact__block">
					<div class="contact-wrapper">
						<p class="contact__btn">address:</p>
						<address class="contact__info mb-0">1481 Creekside Lane Avila Beach, CA 931</address>
					</div>

					<div class="contact-wrapper">
						<p class="contact__btn">phone:</p>
						<p class="contact__info">+53 345 7953 32453</p>
					</div>

					<div class="contact-wrapper">
						<p class="contact__btn">email:</p>
						<p class="contact__info">yourmail@gmail.com</p>
					</div>
				</div>
			</div>

			<div class="col-12 col-lg-6">
				<form action="#" class="cont-form">

					<input type="text" class="cont-form__field mb-3 mb-lg-4" name="name" placeholder="Your Name" required>

					<div class="field-wrapper mb-3 mb-lg-4">
						<input type="email" class="cont-form__field mb-3 mb-md-0" name="email" placeholder="Your E-mail" required>

						<input type="text" class="cont-form__field" name="subject" placeholder="Subject" required>
					</div>

					<textarea class="cont-form__field" name="message" placeholder="Message" required></textarea>

					<input type="submit" class="tour-btn" value="send">
				</form>
			</div>
		</div>
	</div>
</section>

<section class="map">
	<div id="map"></div>
</section>