<section class="destinations-page">
  <div class="container">
    <div class="row text-center mb-110">
      <div class="col-12 mb-1">
        <h4 class="destinations-page__subtitle">simply amazing places</h4>
      </div>
      <div class="col-12">
        <h2 class="destinations-page__title">Popular Destinations</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6 col-md-2">
        <div id='drop-button' class='dropdown'>
          <div class='dropdown__placeholder'>
            <div class='dropdown__text' id='sort'>Sort By</div>
          </div>
          <div id='drop-menu' class='dropdown__menu animated fadeIn'>
            <div class='dropdown__layer'></div>
            <div class='dropdown__menu-inner'>
              <a href="#" class='dropdown__item'>Show All</a>
              <a href="#" class='dropdown__item'>Price</a>
              <a href="#" class='dropdown__item'>Name</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <div id='drop-button-sec' class='dropdown'>
          <div class='dropdown__placeholder'>
            <div class='dropdown__text' id='categories'>Category</div>
          </div>
          <div id='drop-menu-sec' class='dropdown__menu animated fadeIn'>
            <div class='dropdown__layer'></div>
            <div class='dropdown__menu-inner'>
              <a href="#" class='dropdown__item'>Category</a>
              <a href="#" class='dropdown__item'>Category</a>
              <a href="#" class='dropdown__item'>Category</a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-md-flex col-md-1 offset-7
      justify-content-end align-items-center">
        <svg class="destinations-page__change-wiew" id="change-wiew" width="18" height="18" viewBox="0 0 18 18"
          fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect width="18" height="17.6" fill="url(#pattern0)" />
          <defs>
            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
              <use xlink:href="#image0" transform="translate(0 -0.0113636) scale(0.02 0.0204545)" />
            </pattern>
            <image id="image0" width="50" height="50"
              xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAADmwAAA5sBPN8HMQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAC5SURBVGiB7daxDcIwFITh394DIViHQaChIlsgpUGCTRiHBoUxHCqaYIEpLC7WfWWUe9JVPjCzT8L0Q9cdNymFE7D6kr1B2Pf94frvLECc/pVSuBQcA1jDeFbIQqYIsCg49rIUyWaLzJKLqHERNS6iJldk+CF/F8m+F4lx3AKPgmMDhJ1C1qwiz3g846tk234QZ8lF1LiImqaLeMZ7xluDPOPxjK+SbftBnCUXUeMiapou4hnvGW+m6wk+SKLEcnS8UAAAAABJRU5ErkJggg==" />
          </defs>
        </svg>
      </div>
    </div>
    <div id='boxWiew' class="row mb-80">
      <div class="col-12 col-md-4 mb-3">
        <a href="#" class="destinations-page__card offer">
          <div href="#" class="destinations-page__card-img-wrapper">
            <img class="destination-page__img" src="img/DestinationItem1.jpg" alt="destinatioItem">
          </div>
          <div class="destinations-page__info-wrapper">
            <h6 class="destinations-page__card-title">Bali</h6>
            <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
            <p class="destinations-page__card-price">From $679</p>
            <ul class="destinations-page__card-list">
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">5 Stars Hotel</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">All Inclusive</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">flight tickets included</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">Guided visits</p>
              </li>
            </ul>
            <div class="destinations-page__card-offer show">
              <span>Special offer</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <a href="#" class="destinations-page__card">
          <div href="#" class="destinations-page__card-img-wrapper">
            <img class="destination-page__img" src="img/DestinationItem2.jpg" alt="destinatioItem">
          </div>
          <div href="#" class="destinations-page__info-wrapperr">
            <h6 class="destinations-page__card-title">Indonesia</h6>
            <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
            <p class="destinations-page__card-price">From $1111</p>
            <ul class="destinations-page__card-list">
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">5 Stars Hotel</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">All Inclusive</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">flight tickets included</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">Guided visits</p>
              </li>
            </ul>
            <div class="destinations-page__card-offer hidden">
              <span>Special offer</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <a href="#" class="destinations-page__card">
          <div href="#" class="destinations-page__card-img-wrapper">
            <img class="destination-page__img" src="img/DestinationItem3.jpg" alt="destinatioItem">
          </div>
          <div href="#" class="destinations-page__info-wrapper">
            <h6 class="destinations-page__card-title">San Francisco</h6>
            <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
            <p class="destinations-page__card-price">From $12321</p>
            <ul class="destinations-page__card-list">
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">5 Stars Hotel</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">All Inclusive</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">flight tickets included</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">Guided visits</p>
              </li>
            </ul>
            <div class="destinations-page__card-offer hidden">
              <span>Special offer</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <a href="#" class="destinations-page__card">
          <div href="#" class="destinations-page__card-img-wrapper">
            <img class="destination-page__img" src="img/DestinationItem4.jpg" alt="destinatioItem">
          </div>
          <div href="#" class="destinations-page__info-wrapper">
            <h6 class="destinations-page__card-title">Paris</h6>
            <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
            <p class="destinations-page__card-price">From $222</p>
            <ul class="destinations-page__card-list">
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">5 Stars Hotel</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">All Inclusive</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">flight tickets included</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">Guided visits</p>
              </li>
            </ul>
            <div class="destinations-page__card-offer hidden">
              <span>Special offer</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <a href="#" class="destinations-page__card">
          <div href="#" class="destinations-page__card-img-wrapper">
            <img class="destination-page__img" src="img/DestinationItem5.jpg" alt="destinatioItem">
          </div>
          <div href="#" class="destinations-page__info-wrapper">
            <h6 class="destinations-page__card-title">Phi Phi Island</h6>
            <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
            <p class="destinations-page__card-price">From $2131</p>
            <ul class="destinations-page__card-list">
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">5 Stars Hotel</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">All Inclusive</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">flight tickets included</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">Guided visits</p>
              </li>
            </ul>
            <div class="destinations-page__card-offer hidden">
              <span>Special offer</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <a href="#" class="destinations-page__card">
          <div href="#" class="destinations-page__card-img-wrapper">
            <img class="destination-page__img" src="img/DestinationItem6.jpg" alt="destinatioItem">
          </div>
          <div href="#" class="destinations-page__info-wrapper">
            <h6 class="destinations-page__card-title">Mykonos</h6>
            <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
            <p class="destinations-page__card-price">From $223</p>
            <ul class="destinations-page__card-list">
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">5 Stars Hotel</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">All Inclusive</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">flight tickets included</p>
              </li>
              <li class="destinations-page__card-item">
                <p class="destinations-page__card-text">Guided visits</p>
              </li>
            </ul>
            <div class="destinations-page__card-offer hidden">
              <span>Special offer</span>
            </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <a href="#" class="destinations-page__card">
        <div href="#" class="destinations-page__card-img-wrapper">
          <img class="destination-page__img" src="img/DestinationItem7.jpg" alt="destinatioItem">
        </div>
        <div href="#" class="destinations-page__info-wrapper">
          <h6 class="destinations-page__card-title">Mykonos</h6>
          <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
          <p class="destinations-page__card-price">From $223</p>
          <ul class="destinations-page__card-list">
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">5 Stars Hotel</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">All Inclusive</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">flight tickets included</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">Guided visits</p>
            </li>
          </ul>
          <div class="destinations-page__card-offer hidden">
            <span>Special offer</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <a href="#" class="destinations-page__card">
        <div href="#" class="destinations-page__card-img-wrapper">
          <img class="destination-page__img" src="img/DestinationItem8.jpg" alt="destinatioItem">
        </div>
        <div href="#" class="destinations-page__info-wrapper">
          <h6 class="destinations-page__card-title">Mykonos</h6>
          <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
          <p class="destinations-page__card-price">From $223</p>
          <ul class="destinations-page__card-list">
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">5 Stars Hotel</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">All Inclusive</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">flight tickets included</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">Guided visits</p>
            </li>
          </ul>
          <div class="destinations-page__card-offer hidden">
            <span>Special offer</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <a href="#" class="destinations-page__card">
        <div href="#" class="destinations-page__card-img-wrapper">
          <img class="destination-page__img" src="img/DestinationItem9.jpg" alt="destinatioItem">
        </div>
        <div href="#" class="destinations-page__info-wrapper">
          <h6 class="destinations-page__card-title">Mykonos</h6>
          <p class="destinations-page__card-description">Nulla pretium tincidunt felis, nec.</p>
          <p class="destinations-page__card-price">From $223</p>
          <ul class="destinations-page__card-list">
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">5 Stars Hotel</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">All Inclusive</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">flight tickets included</p>
            </li>
            <li class="destinations-page__card-item">
              <p class="destinations-page__card-text">Guided visits</p>
            </li>
          </ul>
          <div class="destinations-page__card-offer hidden">
            <span>Special offer</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <form action="/">
    <button class="tour-btn">Load More</button>
  </form>
  </div>
</section>