<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 footer-mb-80">
				<h2 class="footer__title">Subscribe to our newsletter to get the latest trends & news</h2>
				<p class="footer__subtitle">Join our database NOW!</p>
			</div>
			<div class="col-12 mb-5">
				<form id="footerForm" class="footer__form" action="#" method="post">
					<input class="footer__form--input" type="text" placeholder="Name" required>
					<input class="footer__form--input" type="email" placeholder="Your e-mail" required>
					<input class="footer__form--button" type="submit" value="SUBSCRIBE">
				</form>
			</div>
		</div>
		<div class="row d-flex flex-column flex-md-row">
			<div class="col-12 col-md-4">
				<div class="footer__card">
					<div class="img-wrapper">
						<img class="footer__icon" src="img/icon-footer-pointers.svg" alt="icon">
					</div>
					<p class="footer__icon--title">give us a call</p>
					<span class="footer__description"><span class="description_margin">Office Landline:</span><a href="tel:+44556732664567" class="footer__link d-flex" target="_blank">+44 5567 32 664 567</a></span>
					<span class="footer__description mobile_margin"><span class="description_margin">Mobile:</span><a href="tel:+445567893322332" class="footer__link d-flex" target="_blank">+44 5567 89 3322 332</a></span>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="footer__card">
					<div class="img-wrapper">
						<img class="footer__icon" src="img/icon-footer-man.svg" alt="icon">
					</div>
					<p class="footer__icon--title">come & drop by</p>
					<span class="footer__description mobile_margin">4124 Barnes Street, Sanford,<br>FL 32771</span>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="footer__card">
					<div class="img-wrapper">
						<img class="footer__icon" src="img/icon-footer-land.svg" alt="icon">
					</div>
					<p class="footer__icon--title">send us a message</p>
					<a href="mailto:info@example.com" class="footer__link d-flex" target="_blank">youremail@gmail.com</a>
					<a href="mailto:info@example.com" class="footer__link d-flex" target="_blank">Office@yourbusinessname.com</a>
				</div>
			</div>
		</div>
	</div>
</footer>