<header id="header" class="header">
	<div class="header__top">
		<div class="container">
			<div class="row justify-content-between py-4">
				<div class="col-md-6 col-lg-3 text-lg-center mb-2 mb-md-0 text-center text-md-left">
					<a href="/" class="header__top-logo">tour partner</a>
				</div>
				<div class="col-md-6 col-lg-6 d-flex align-items-center justify-content-between">
					<ul class="header__top-list">
						<li class="header__top-item">
							<a href="#" class="header__top-link active">home</a>
						</li>
						<li class="header__top-item">
							<a href="#" class="header__top-link">about us</a>
						</li>
						<li class="header__top-item">
							<a href="#" class="header__top-link">services</a>
						</li>
						<li class="header__top-item">
							<a href="#" class="header__top-link">news</a>
						</li>
						<li class="header__top-item">
							<a href="#" class="header__top-link">contact</a>
						</li>
					</ul> <!-- End .header__top-list -->
				</div>
				<div class="col-lg-3 d-flex align-items-center">
					<a href="tel:+38099989900" class="header__top-tel">Call us: 099 98 99 00</a>
				</div>
			</div>
		</div>
	</div> <!-- End .header__top -->
	<div class="header__wrap">
		<div class="header__content">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-10 text-center header__content-wrap">
						<h1 class="header__content-title">Let us take you away</h1>
					</div>
					<div class="header__right-menu">
						<ul class="header__right-menu_list">
							<li class="header__right-menu_item">
								<a href="#" class="header__right-menu_link">
									<p class="header__right-menu_text">offers</p>
									<span class="header__right-menu_subtext">01</span>
								</a>
							</li>
							<li class="header__right-menu_item">
								<a href="#" class="header__right-menu_link">
									<p class="header__right-menu_text">testimonials</p>
									<span class="header__right-menu_subtext">02</span>
								</a>
							</li>
							<li class="header__right-menu_item">
								<a href="#" class="header__right-menu_link">
									<p class="header__right-menu_text">latest</p>
									<span class="header__right-menu_subtext">03</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-12">
						<form action="#" name="search" class="header__content-form">
							<div class="row d-flex justify-content-center p-3">
								<div class="col-lg-3 text-center">
									<h3 class="header__content-form_title">Search for your trip</h3>
								</div>
								<div class="col-12">
									<div class="row d-flex justify-content-between align-items-center header__content-form_wrap py-lg-3">
										<div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
											<input type="text" name="search" class="header__content-form_inpt city" placeholder="City"
												required>
										</div>
										<div class="col-md-6 col-lg-2 mb-3 mb-lg-0">
											<input type="text" name="search" class="header__content-form_inpt date" placeholder="Departure"
												required>
										</div>
										<div class="col-md-6 col-lg-2 mb-3 mb-lg-0">
											<input type="text" name="search" class="header__content-form_inpt date" placeholder="Arrival"
												required>
										</div>
										<div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
											<input type="text" name="search" class="header__content-form_inpt budget" placeholder="Budget"
												required>
										</div>
										<div class="col-lg-2">
											<input type="submit" name="search" value="search" class="header__content-form_btn">
										</div>
									</div> <!-- End .header__content-form_wrap -->
								</div>
							</div>
						</form> <!-- End .header__content-form -->
					</div>
				</div>
			</div>
		</div> <!-- End .header__content -->
	</div> <!-- End .header__wrap -->
	<div class="header__bottom">
		<div class="container">
			<div class="row header__bottom-wrapper">
				<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
					<div class="header__bottom-card">
						<img src="img/union.svg" alt="Icon" class="header__bottom-card_icon">
						<div class="header__bottom-card_wrap">
							<h3 class="header__bottom-card_title">top destinations</h3>
							<p class="header__bottom-card_text">Nulla pretium tincidunt felis, nec.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
					<div class="header__bottom-card">
						<img src="img/purse.svg" alt="Icon" class="header__bottom-card_icon">
						<div class="header__bottom-card_wrap">
							<h3 class="header__bottom-card_title">the best prices</h3>
							<p class="header__bottom-card_text">Sollicitudin mauris lobortis in.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="header__bottom-card">
						<img src="img/suitcase.svg" alt="Icon" class="header__bottom-card_icon">
						<div class="header__bottom-card_wrap">
							<h3 class="header__bottom-card_title">amazing services</h3>
							<p class="header__bottom-card_text">Nulla pretium tincidunt felis, nec.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- End .header__bottom -->
</header> <!-- End .header -->