<div class="news-section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-12 news-section__main-content">
				<div class="row">
					<div class="col-xl-8 order-xl-1 order-2 news-section__first-block">
						<div class="row">
							<div class="col-12 news-section__block-news">
								<div class="row justify-content-between">
									<div class="col-xl-12 col-lg-6 news-section__block-photo">
										<div class="news-section__photo">
											<img src="img/news_1.jpg" alt="image">
										</div>
									</div>
									<div class="news-section__description-news col-xl-12 col-lg-6">
										<div class="news-section__date">
											<span class="news-section__number">02</span>
											<span class="news-section__month">june</span>
										</div>
										<div class="news-section__block-headline">
											<span class="news-section__title">best tips to travel light</span>
											<span class="news-section__subtitle">lifestyle & travel</span>
										</div>
										<p class="news-section__text">
											Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet. Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet.
										</p>
										<a href="#" class="news-section__read-btn">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-12 news-section__block-news">
								<div class="row justify-content-between">
									<div class="col-xl-12 col-lg-6 news-section__block-photo">
										<div class="news-section__photo">
											<img src="img/news_2.jpg" alt="image">
										</div>
									</div>
									<div class="news-section__description-news col-xl-12 col-lg-6">
										<div class="news-section__date">
											<span class="news-section__number">02</span>
											<span class="news-section__month">june</span>
										</div>
										<div class="news-section__block-headline">
											<span class="news-section__title">10 Amazing Destination for you this summer</span>
											<span class="news-section__subtitle">lifestyle & travel</span>
										</div>
										<p class="news-section__text">
											Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet. Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet.
										</p>
										<a href="#" class="news-section__read-btn">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-12 news-section__block-news">
								<div class="row justify-content-between">
									<div class="col-xl-12 col-lg-6 news-section__block-photo">
										<div class="news-section__photo">
											<img src="img/news_3.jpg" alt="image">
										</div>
									</div>
									<div class="news-section__description-news col-xl-12 col-lg-6">
										<div class="news-section__date">
											<span class="news-section__number">02</span>
											<span class="news-section__month">june</span>
										</div>
										<div class="news-section__block-headline">
											<span class="news-section__title">How to organize your perfect vacation</span>
											<span class="news-section__subtitle">lifestyle & travel</span>
										</div>
										<p class="news-section__text">
											Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet. Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet.
										</p>
										<a href="#" class="news-section__read-btn">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 order-xl-2 order-1">
						<div class="news-section__block-categories">
							<span class="news-section__ctg-title">Categories</span>
							<ul class="news-section__ctg-list">
								<li class="news-section__ctg-item"><a href="#" class="news-section__ctg-link"><span class="news-section__ctg-name">Travels</span><span class="news-section__ctg-count">(09)</span></a></li>
								<li class="news-section__ctg-item"><a href="#" class="news-section__ctg-link"><span class="news-section__ctg-name">Organization</span><span class="news-section__ctg-count">(12)</span></a></li>
								<li class="news-section__ctg-item"><a href="#" class="news-section__ctg-link"><span class="news-section__ctg-name">Tips & Tricks</span><span class="news-section__ctg-count">(16)</span></a></li>
								<li class="news-section__ctg-item"><a href="#" class="news-section__ctg-link"><span class="news-section__ctg-name">Uncategorized</span><span class="news-section__ctg-count">(22)</span></a></li>
							</ul>
						</div>
						<div class="news-section__block-latest">
							<p class="news-section__latest-title">Latest News</p>
							<a href="#" class="row news-section__latest-row">
								<div class="col-xl-6 col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0">
									<div class="news-section__latest-photo">
										<img src="img/sm-1.jpg" alt="photo">
									</div>
								</div>
								<div class="news-section__latest-main-content col-xl-6 col-lg-3 col-md-4 col-sm-5">
									<div class="news-section__latest-date">
										<span class="news-section__latest-number">02</span>
										<span class="news-section__latest-month">june</span>
									</div>
									<div class="news-section__latest-headline">Best tips to travel light</div>
									<div class="news-section__latest-text">Pellentesque sit amet...</div>
								</div>
							</a>
							<a href="#" class="row news-section__latest-row justify-content-xl-start justify-content-sm-center">
								<div class="col-xl-6 col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0">
									<div class="news-section__latest-photo">
										<img src="img/sm-2.jpg" alt="photo">
									</div>
								</div>
								<div class="news-section__latest-main-content col-xl-6 col-lg-3 col-md-4 col-sm-5">
									<div class="news-section__latest-date">
										<span class="news-section__latest-number">02</span>
										<span class="news-section__latest-month">june</span>
									</div>
									<div class="news-section__latest-headline">Best tips to travel light</div>
									<div class="news-section__latest-text">Pellentesque sit amet...</div>
								</div>
							</a>
							<a href="#" class="row news-section__latest-row justify-content-xl-start justify-content-sm-end">
								<div class="col-xl-6 col-lg-2 col-md-3 col-sm-4 mb-3 mb-sm-0">
									<div class="news-section__latest-photo">
										<img src="img/sm-3.jpg" alt="photo">
									</div>
								</div>
								<div class="news-section__latest-main-content col-xl-6 col-lg-3 col-md-4 col-sm-5">
									<div class="news-section__latest-date">
										<span class="news-section__latest-number">02</span>
										<span class="news-section__latest-month">june</span>
									</div>
									<div class="news-section__latest-headline">Best tips to travel light</div>
									<div class="news-section__latest-text">Pellentesque sit amet...</div>
								</div>
							</a>

						</div>
						<a href="#" class="news-section__banner">
							<img src="img/banner.jpg" alt="banner">
							<div class="news-section__banner-text">
								<div class="news-section__discount">Get a 20% Discount</div>
								<div class="news-section__buy-text">Buy Your Vacation Online Now</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-12">
				<ul class="news-section__list-pg">
					<li class="news-section__item-pg">
						<a href="#" class="news-section__number-pg">1.</a>
					</li>
					<li class="news-section__item-pg">
						<a href="#" class="news-section__number-pg">2.</a>
					</li>
					<li class="news-section__item-pg">
						<a href="#" class="news-section__number-pg">3.</a>
					</li>
					<li class="news-section__item-pg">
						<a href="#" class="news-section__number-pg">4.</a>
					</li>
					<li class="news-section__item-pg">
						<a href="#" class="news-section__number-pg">5.</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>