<section class="team px-2 px-md-0">
	<div class="container">
		<div class="row mb-100">
			<div class="col d-flex flex-column text-center">
				<h2 class="section-title order-2">
					Meet the Team
				</h2>
				<p class="title-text order-1">
					simply amazing places
				</p>
			</div>
		</div>

		<div class="row ">
			<div class="col d-flex align-items-center justify-content-center">
				<div class="owl-carousel slider-team">
					<div class="slider-item">
						<div class="crewman-img-wrapper mb-4">
							<img class="crewman-img" src="img/margaret.png" alt="face">
						</div>
						<div class= "crewman">
							<p class="crewman__name mb-3">Margaret Smith</p>
							<p class="crewman__descr">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
						</div>
					</div>

						<div class="slider-item">
						<div class="crewman-img-wrapper mb-4">
							<img class="team-img" src="img/james.png" alt="face">
						</div>
						<div class= "crewman">
							<p class="crewman__name mb-3">James Williams</p>
							<p class="crewman__descr">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
						</div>
					</div>

						<div class="slider-item">
						<div class="crewman-img-wrapper mb-4">
							<img class="team-img" src="img/michael.png" alt="face">
						</div>
						<div class= "crewman">
							<p class="crewman__name mb-3">Michael James</p>
							<p class="crewman__descr">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
						</div>
					</div>

						<div class="slider-item">
						<div class="crewman-img-wrapper mb-4">
							<img class="team-img" src="img/noah.png" alt="face">
						</div>
						<div class= "crewman">
							<p class="crewman__name mb-3">Noah Smith</p>
							<p class="crewman__descr">Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>