<!-- SECTION TESTIMONIALS START -->
<section id="testimonials" class="testimonials">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-12 row d-flex justify-content-center align-items-center p-0 m-0">
				<!-- TESTIMONIALS CAROUSEL START -->
				<div class="testimonials__carousel owl-carousel owl-theme m-0">
					<!-- TESTIMONIALS CAROUSEL CARD-1 START -->
					<div class="testimonials__carousel--card">
						<span class="testimonials__carousel--subtitle">simply amazing places</span>
						<h2 class="testimonials__carousel--title">testimonials</h2>
						<p class="testimonials__carousel--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</p>
						<span class="testimonials__carousel--authorName">john turner,<span class="testimonials__carousel--authorPosition">client</span></span>
					</div>
					<!-- TESTIMONIALS CAROUSEL CARD-1 END -->
					<!-- TESTIMONIALS CAROUSEL CARD-2 START -->
					<div class="testimonials__carousel--card">
						<span class="testimonials__carousel--subtitle">simply amazing places</span>
						<h2 class="testimonials__carousel--title">testimonials</h2>
						<p class="testimonials__carousel--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</p>
						<span class="testimonials__carousel--authorName">sergey chuprina,<span class="testimonials__carousel--authorPosition">vip client</span></span>
					</div>
					<!-- TESTIMONIALS CAROUSEL CARD-2 END -->
					<!-- TESTIMONIALS CAROUSEL CARD-3 START -->
					<div class="testimonials__carousel--card">
						<span class="testimonials__carousel--subtitle">simply amazing places</span>
						<h2 class="testimonials__carousel--title">testimonials</h2>
						<p class="testimonials__carousel--description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</p>
						<span class="testimonials__carousel--authorName">john turner,<span class="testimonials__carousel--authorPosition">client</span></span>
					</div>
					<!-- TESTIMONIALS CAROUSEL CARD-3 END -->
				</div>
				<!-- TESTIMONIALS CAROUSEL END -->
				<!-- TESTIMONIALS MENU START -->
				<div class="testimonials__menu">
					<ul class="testimonials__menu--list">
						<li class="testimonials__menu--item">
							<a href="#" class="testimonials__menu--link">
								<p class="testimonials__menu--text">city breaks clients</p>
								<span class="testimonials__menu--subtext">01</span>
							</a>
						</li>
						<li class="testimonials__menu--item">
							<a href="#" class="testimonials__menu--link">
								<p class="testimonials__menu--text">cruises clients</p>
								<span class="testimonials__menu--subtext">02</span>
							</a>
						</li>
						<li class="testimonials__menu--item">
							<a href="#" class="testimonials__menu--link">
								<p class="testimonials__menu--text">all inclusive clients</p>
								<span class="testimonials__menu--subtext">03</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- TESTIMONIALS MENU START -->
			</div>
		</div>
	</div>
</section>
<!-- SECTION TESTIMONIALS END -->