<div class="head header">
	<div class="menu_bar"></div>
	<div class="container container_head">
		<ul class="row head_list">
			<li class="col-xl-4 col-md-auto">
				<a href="#" class="head__items_name">Tour Partner</a>
			</li>
			<li class="col-xl-1 col-md-auto col-6 head__items_link">
				<a href="#" class="head__items_linked">Home</a>
			</li>
			<li class="col-xl-1 col-md-auto col-6 head__items_link active">
				<a href="#" class="head__items_linked">About us</a>
			</li>
			<li class="col-xl-1 col-md-auto col-6 head__items_link">
				<a href="#" class="head__items_linked">Services</a>
			</li>
			<li class="col-xl-1 col-md-auto col-6 head__items_link">
				<a href="#" class="head__items_linked">News</a>
			</li>
			<li class="col-xl-1 col-md-auto col-6 head__items_link">
				<a href="#" class="head__items_linked">Contact</a>
			</li>
			<li class="col-xl-3 col-auto head__items_tel">
				<a href="tel:099989900" class="head__items_tel_link">Call us: 099 98 99 00</a>
			</li>
		</ul>
	</div>
</div>
<div class="search">
	<div class="container">
		<div class="row justify-content-center search_row">
			<div class="col-12 search__choose">
				<form name="search" action="#" class="row search__form justify-content-center">
					<div class="col-lg-auto col-12 search__form_head">
						<p>Search for your trip</p>
					</div>
					<div class="col-12">
						<div class="row search__form_input">
							<input placeholder="City"  type="text" name="search" class="col-xl-3 col-lg-2 col-12 mb-3 m-lg-0 search__form_input_text city">
							<input placeholder="Departure"  type="text" name="search" class="col-xl-2 col-lg-2 col-12 mb-3 m-lg-0 search__form_input_text">
							<input placeholder="Arrival"  type="text" name="search" class="col-xl-2 col-lg-2 col-12 mb-3 m-lg-0 search__form_input_text">
							<input placeholder="Budget"  type="text" name="search" class="col-xl-3 col-lg-2 col-12 mb-3 m-lg-0 search__form_input_text bud">
							<input  type="submit" name="search" value="search" class="col-auto mt-3 mx-auto m-lg-0 tour-btn">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>