/* ABOUT US
----------- */
.about-us {
	padding: 30px 0 50px;

	@media all and (min-width: 768px) {
		padding: 50px 0 70px;
	}

	@media all and (min-width: 992px) {
		padding: 80px 0 100px;
	}

	&__top {
		margin-bottom: 30px;

		@media all and (min-width: 768px) {
			margin-bottom: 50px;
		}

		@media all and (min-width: 992px) {
			margin-bottom: 100px;
		}
	}

	&__suptitle {
		@include text-styling($small-size, 400, $g2);
		letter-spacing: .2em;
		text-transform: uppercase;
		margin-bottom: 30;
	}

	&__title {
		@include text-styling($large-size, 700, $g1);

		@media all and (min-width: 768px) {
			@include text-styling($huge-size, 700, $g1);
		}
	}

	&__content {
		font-family: $sec-font;
		margin-bottom: 20px;

		@media all and (min-width: 992px) {
			margin-bottom: 90px;
		}

		&-title {
			@include text-styling($top-menu-size, 700, $g1);
			line-height: 1.5;
			margin-bottom: 20px;

			@media all and (min-width: 768px) {
				@include text-styling($middle-size, 700, $g1);
				margin-bottom: 35px;
			}
		}

		&-text {
			@include text-styling($base-size, 400, $g2);
			line-height: 1.5;
			margin-bottom: 20px;

			@media all and (min-width: 992px) {
				margin-bottom: 30px;
			}

			@media all and (min-width: 1200px) {
				margin-bottom: 130px;
			}
		}

		&-btn {
			font-family: $main-font;
			display: flex;
			justify-content: center;
			@include text-styling($top-menu-size, 400, $white);
			background-color: $g1;
			border-radius: 20px;
			text-transform: uppercase;
			padding: 10px 40px;

			&:hover {
				color: $white;
				text-decoration: none;
			}

			@media all and (max-width: 767px) {
				width: 100%;
			}

			@media all and (min-width: 768px) {
				display: inline-block;
			}
		}
	}

	&__img-wrapper {
		@include padding-hack(91%, cover);
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-icon {
			margin-bottom: 15px;
		}

		&-number {
			@include text-styling($about-number, 500, $g1);
			margin-bottom: 15px;
		}

		&-text {
			@include text-styling($middle-size, 400, $grey);
			text-transform: capitalize;
		}
	}
}

/* END ABOUT US
--------------- */