/* MAIN STYLE
------------- */
html,
body {
	min-height: 100vh;
}

body {
	background-color: $white;
	color: $black;
	font-family: $main-font;
	font-size: $base-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.tour-btn {
	display: block;
	text-transform: uppercase;
	cursor: pointer;
	padding: 12px 45px;
	background-color: $g1;
	@include text-styling($top-menu-size, 400, $white);
	border: none;
	border-radius: 20px;
	transition: transform .2s ease;

	&:hover {
		transform: scale(1.05);
	}

	@media screen and (max-width: 769px) {
		width: 100%;
	}
}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
/* End MAIN STYLE
----------------- */