.destinations {
  padding: 90px 0 110px;
  @media screen and (max-width: 769px) {
    padding: 30px 0;
  }

  &__subtitle {
    @include text-styling($small-size, 400, $g2);
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  &__title {
    @include text-styling($huge-size, 400, $g1);
  }

  &__card {
    color: $g1;
    font-family: $sec-font;
    padding-bottom: 16px;
    position: relative;
    transition: all .2s ease;
    &:hover {
      box-shadow: $shadow;
      transform: translateY(-10px);
    }
  }
  &__card.offer {
    &::before {
      $position: 24px;
      content: "Special Offer";
      display: block;
      padding: 4px 12px;
      background-color: $black;
      position: absolute;
      top: $position;
      left: $position;
      z-index: 1;
      @include text-styling($middle-size, 400, $white);
      font-family: $main-font;
    }
  }

  &__card-img-wrapper {
    @include padding-hack(74%);
    margin-bottom: 16px;
  }

  &__card-title {
    @include text-styling($large-size, 400, $g1);
    font-family: $main-font;
    margin-bottom: 5px;
  }

  &__card-description {
    color: $g2;
    margin-bottom: 16px;
  }

  &__card-price {
    @include text-styling($top-menu-size, 700, $g1);
  }
}