/* HEADER STYLE
--------------- */
.header {
	&__wrap {
		background: url('../img/header-about.jpg') no-repeat center;
		background-size: cover;
		padding: 20px 0 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media all and (min-width: 768px) {
			padding-bottom: 100px;
		}

		@media all and (min-width: 992px) {
			min-height: 100vh;
		}
	}

	.fixed__top {
		background-color: rgba($black, 0.5);
		transition: all .3s ease;
	}

	&__top {
		position: fixed;
		width: 100%;
		z-index: 2;

		&-logo {
			@include text-styling($middle-size, 500, $white);
			line-height: 1;
			text-transform: capitalize;
			display: block;

			@media all and (min-width: 992px) {
				@include text-styling($large-size, 500, $white);
			}

			&:hover {
				color: $white;
			}
		}

		&-list {
			display: flex;
			justify-content: space-between;
			width: 100%;
		}

		.active::before {
			content: '';
			display: none;
			position: absolute;
			width: 1px;
			height: 40px;
			background-color: $white;
			top: -40px;
			left: 50%;

			@media all and (min-width: 768px) {
				display: block;
			}
		}

		&-link {
			display: flex;
			position: relative;
			@include text-styling($top-menu-size, 400, $white);
			line-height: 1;
			text-transform: capitalize;
			transition: color .3s ease;

			&:hover::before {
				content: '';
				position: absolute;
				width: 1px;
				height: 40px;
				background-color: $white;
				top: -40px;
				left: 50%;
			}

			&:hover {
				color: $g2;
			}
		}

		&-tel {
			@include text-styling($middle-size, 500, $white);
			display: flex;
			justify-content: flex-end;
			line-height: 1;

			&:hover {
				color: $white;
			}
		}

		&-text {
			display: none;

			@media all and (min-width: 992px) {
				display: flex;
				margin-right: 5px;
			}
		}
	}

	&__content {
		padding-top: 60px;
		position: relative;

		@media all and (min-width: 768px) {
			padding-top: 80px;
		}

		@media all and (min-width: 992px) {
			padding-top: 120px;
		}

		&-wrap {
			margin-bottom: 20px;

			@media all and (min-width: 768px) {
				margin-bottom: 50px;
			}

			@media all and (min-width: 992px) {
				margin-bottom: 80px;
			}
		}

		&-title {
			@include text-styling(2.3rem, 400, $white);

			@media all and (min-width: 768px) {
				@include text-styling(5.5rem, 400, $white);
			}

			@media all and (min-width: 992px) {
				@include text-styling(6rem, 400, $white);
			}

			@media all and (min-width: 1200px) {
				@include text-styling($header-title, 400, $white);
			}
		}

		&-form {
			background-color: rgba($white, 0.26);
			border-radius: 12px;
			padding: 20px;

			@media all and (min-width: 768px) {
				padding: 30px 20px;
			}

			@media all and (min-width: 992px) {
				padding: 20px 50px 80px;
			}

			&_title {
				@include text-styling($middle-size, 400, $black);
				background-color: $white;
				border-radius: 10px 10px 0px 0px;
				padding: 10px 0px;
			}

			&_wrap {
				background-color: $white;
				padding-bottom: 20px;
				border-radius: 10px 10px;

				@media all and (min-width: 992px) {
					padding-bottom: 0;
					border-radius: none;
				}
			}

			&_inpt {
				color: $g2;
				border: none;
				padding: 10px 15px;
				background-color: $bg-header-form;
				width: 100%;

				@include placeholder {
					color: $g2;
				}
			}

			.city {
				@media all and (min-width: 992px) {
					max-width: 250px;
				}
			}

			.date {
				@media all and (min-width: 992px) {
					max-width: 160px;
				}
			}

			.budget {
				@media all and (min-width: 992px) {
					max-width: 190px;
				}
			}

			&_btn {
				width: 100%;
				@include text-styling($top-menu-size, 400, $white);
				text-transform: uppercase;
				background-color: $g1;
				border-radius: 20px;
				padding: 10px 0;
				transition: color .3s ease;
				border: none;

				&:hover {
					color: $g2;
				}
			}
		}
	}
}

/* END HEADER STYLE
------------------- */