.team {
	padding: 110px 0 60px;

	@media all and (max-width: 767px) {
		padding: 70px 0 30px;
	}
}

.mb-100 {
	margin-bottom: 100px;

	@media all and (max-width: 767px) {
		margin-bottom: 50px;
	}
}

.section-title {
	@include text-styling ($huge-size, 400, $g1);

	@media all and (max-width: 767px) {
		font-size: px_to_rem(40px);
	}
}

.title-text {
	@include text-styling ($small-size, 400, $g2);
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 3;
}

.slider-team {

	@media all and (max-width: 767px) {
		max-width: 350px;
	}
}

.slider-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 400px;
}

.crewman-img-wrapper {
	width: 195px;
	height: 195px;
}

.crewman {
	text-align: center;

	&__name {
		@include text-styling ($footer-address, 400, $g1);
		line-height: 1.3;

		@media all and (max-width: 767px) {
			font-size: px_to_rem(20px);
		}
	}

	&__descr {
		@include text-styling ($base-size, 400, $g2);
		font-family: $sec-font;
		line-height: 1.8;
	}
}