.tkachova-page-tour{
	padding: px_to_rem(20px) 0;

	@media all and (min-width: 576px){
		padding: px_to_rem(40px) 0;
	}

	@media all and (min-width: 768px){
		padding: px_to_rem(55px) 0;
	}

	@media all and (min-width: 992px){
		padding: px_to_rem(75px) 0;
	}

	@media all and (min-width: 1200px){
		padding: px_to_rem(90px) 0;
	}

	&__image-wrapper{
		@include padding-hack(74%);
		margin-bottom: px_to_rem(10px);

		@media all and (min-width: 992px){
			margin-bottom: 0;
		}

	}

	&__title{
		margin-bottom: px_to_rem(5px);
		@include text-styling($blog-title, 500, $g1);
		font-family: $main-font;

		@media all and (min-width: 1200px){
			margin-bottom: px_to_rem(10px);
		}
	}

	&__information{
		@include text-styling($small-size, 400, $g2);
		font-family: $sec-font;

		@media all and (min-width: 768px){
			font-size: $tour-item;
		}
	}

	&__for-price{
		@include text-styling($tour-item, 500, $g2);
		font-family: $main-font;
		margin-bottom: px_to_rem(5px);

		@media all and (min-width: 1200px){
			margin-bottom: px_to_rem(10px);
		}
	}

	&__price{
		@include text-styling($middle-size, 500, $g2);
		font-family: $main-font;
	}

	&__map{
		pointer-events: all;
		width: 100%;
		height: 150px;

		@media all and (min-width: 576px){
			height: 200px;
		}

		@media all and (min-width: 768px){
			height: 300px;
		}

		@media all and (min-width: 992px){
			height: 200px;
		}

		@media all and (min-width: 1200px){
			height: 300px;
		}
	}

	&__caption{
		margin-bottom: px_to_rem(5px);
		@include text-styling($middle-size, 500, $g1);
		font-family: $main-font;
		border-bottom: 2px solid $g3;

		@media all and (min-width: 768px){
			margin-bottom: px_to_rem(10px);
			font-size: $footer-address;
			border-bottom-width: 3px;
		}
	}

	&__text{
		@include text-styling($small-size, 400, $g2);
		font-family: $sec-font;
		text-align: justify;

		@media all and (min-width: 768px){
			font-size: $tour-item;
		}
	}

	&__list{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: px_to_rem(5px);
		border-bottom: 2px solid $g3;
		padding-bottom: px_to_rem(5px);

		@media all and (min-width: 768px){
			margin-bottom: px_to_rem(10px);
			border-bottom-width: 3px;
			padding-bottom: px_to_rem(10px);
		}
	}

	&__item{
		@include text-styling($small-size, 400, $g3);
		font-family: $sec-font;
		margin-left: 5px;

		@media all and (min-width: 992px){
			font-size: $middle-size;
			margin-left: 0;
		}
	}

	.svg-inline--fa{
		width: 15px;
		height: 15px;

		@media all and (min-width: 992px){
			width: 30px;
			height: 30px;
		}
	}

	&__chapter{
		@include text-styling($small-size, 400, $g1);
		font-family: $main-font;
		margin-bottom: px_to_rem(5px);

		@media all and (min-width: 768px){
			font-size: $middle-size;
		}
	}

	&__services-item{
		@include text-styling($small-size, 400, $g2);
		font-family: $sec-font;
		position: relative;
		padding: 3px 0 3px 20px;

		@media all and (min-width: 992px){
			font-size: $tour-item;
			padding-right: 30px;
		}

		&::before{
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			bottom: 0;
			color: $g2;
			transform: translateY(-50%);
		}

	}

	&__services-list.dots>&__services-item::before{
		background: url("../img/circle-solid.svg") no-repeat center;
		width: 7px;
		height: 7px;
	}

	&__services-list.check>&__services-item::before{
		background: url("../img/check-solid.svg") no-repeat center;
		width: 15px;
		height: 15px;
	}

	&__photo-wrapper{
		@include padding-hack(58%);
	}

	.arrow-owl{
		position: absolute;
		top: 50%;
		width: 30px;
		height: 30px;
		z-index: 1;
		border-top: 3px solid $white;

		&.arrow-left{
			transform: rotate(-45deg);
			border-left: 3px solid $white;
			left: 5%;
		}

		&.arrow-right{
			transform: rotate(45deg);
			border-right: 3px solid $white;
			right: 5%;
		}

	}

	&__user{
		background-color: $g3;
		width: 70px;
		height: 70px;
		border: 3px solid $g2;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: translateX(0%);

		@media all and (min-width: 576px){
			transform: translateX(50%);
			width: 70px;
			height: 70px;
		}

		@media all and (min-width: 992px){
			transform: translateX(50%);
			width: 100px;
			height: 100px;
			border-bottom-width: 5px;
		}
	}

	&__name{
		@include text-styling($small-size, 400, $g1);
		font-family: $sec-font;

		@media all and (min-width: 992px){
			font-size: $middle-size;
		}
	}

	&__reviews{
		@include text-styling($small-size, 400, $g2);
		font-family: $sec-font;
		font-style: italic;

		@media all and (min-width: 992px){
			font-size: $tour-item;
		}
	}

}
