//COLORS:

$black: #000000;
$white: #ffffff;
$grey: #838383;

$g1: #181818;
$g2: #72728c;
$g3: #8f8f8f;

$bg-header-form: #f2f5f6;
$icon: #b2b8bc;

//SIZE:

@function px_to_rem($target, $context: $base-size) {
	@if $target==0 {
		@return 0
	}

	@return $target / $context+0rem;
}

$base-size: 14px;

$huge-size: px_to_rem(48px);
$large-size: px_to_rem(30px);
$middle-size: px_to_rem(18px);
$small-size: px_to_rem(12px);


$header-title: px_to_rem(100px);
$top-menu-size: px_to_rem(16px);

$blog-title: px_to_rem(28px);
$blog-subtitle: px_to_rem(10px);

$about-number: px_to_rem(60px);

$tour-from: px_to_rem(26px);
$tour-item: px_to_rem(15px);

$footer-title: px_to_rem(36px);
$footer-address: px_to_rem(24px);

// IMPORT FONTS:

@font-face {
	font-family: 'Oswald', sans-serif;
	src: url('../fonts/Oswald-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald', sans-serif;
	src: url('../fonts/Oswald-Medium.ttf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url('../fonts/OpenSans-Light.ttf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url('../fonts/OpenSans-Italic.ttf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url('../fonts/OpenSans-Regular.ttf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

//FONTS:

$main-font: 'Oswald',
sans-serif;
$sec-font: 'Open Sans',
sans-serif;