.about_us{
	width: 100%;
	background: #fff;
	padding-top: 115px;
}
.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.text-center{
	h3{
		font-family: oswald,sans-serif;
		font-size: 12px;
		font-weight: 400;
		color: #72728c;
		line-height: .75;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
	h1{
		font-family: oswald,sans-serif;
		font-weight: 400;
		font-size: 48px;
	}
}
.title{
	margin-bottom: 25px;
}
.content{
	width: 100%;
	background: #fff;
	padding-top: 115px;
}
.text_fat{
	font-size: 18px;
	font-weight: 700;
	color: #181818;
	line-height: 1.66;
	margin-bottom: 35px;
}
.text{
	h2{
		font-size: 18px;
		font-weight: 700;
		color: #181818;
		line-height: 1.66;
	}
	h3{
		font-family: open sans,sans-serif;
		font-size: 14px;
		line-height: 1.9285;
		font-weight: 400;
		color: #72728c;
	}
}
.text_thin{
	margin-bottom: 67px;
}
.tour-btn{
	width: 169px;
}
.imagin{
	display: inline-block;
	height: 82px;
	width: 82px;
	max-width: 100%;
}
.content{
	margin-bottom: 115px;
}
.spincrement{
	font-family: oswald,sans-serif;
	font-size: 60px;
	font-weight: 500;
	color: #181818;
	line-height: .75;
	margin-top: 35px;
}
.header_text{
	font-family: oswald,sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #838383;
	margin-top: 31px;
	line-height: .75;
}