.about_us{
	width: 100%;
	background: #fff;
	padding-top: 115px;
}
.about_us-content{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
}
.text-center{
	h3{
		font-family: oswald,sans-serif;
		font-size: 12px;
		font-weight: 400;
		color: #72728c;
		line-height: .75;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
	h1{
		font-family: oswald,sans-serif;
		font-weight: 800;
		font-size: 48px;
	}
}
.title{
	margin-bottom: 25px;
}
.fat{
	font-size: 18px;
	font-weight: 700;
	color: #181818;
	line-height: 1.66;
	margin-bottom: 67px;
}
.thin{
	font-family: "Open sans", sans-serif;
	font-size: 14px;
	line-height: 1.9285;
	font-weight: 400;
	color: #72728c;
	margin-bottom: 67px;
}
.tour-btn{
	width: 169px;
}
.imagin{
	display: inline-block;
	height: 82px;
	width: 82px;
	max-width: 100%;
	margin-bottom:35px;
}
.about_img{
	min-width: 100%;
}
.subject{
	background: #fff;
	padding-top: 115px;
}
.spincrement1,.spincrement2,.spincrement3,.spincrement4 {
	font-family: oswald,sans-serif;
	font-size: 60px;
	font-weight: 500;
	color: #181818;
	line-height: .75;
	margin-bottom: 31px;
}
.footer_text{
	font-family: oswald,sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #838383;
	line-height: .75;
}
.down{
	padding-top: 10%;
	padding-bottom: 10%;
}
@media all and (max-width: 360px){
	.about_img{
		max-width: 50%;
	}
}
@media all and (max-width: 540px) {
	.tour-btn{
		margin-bottom: 40px;
		display: inline-block;
		min-width: 100%;
	}
	.about_img{
		max-width: 70%;
	}
	.down{
		padding-top: 0;
		padding-bottom: 5%;
	}
}
@media all and (max-width: 720px){
	.tour-btn{
		margin-bottom: 40px;
		display: inline-block;
		min-width: 100%;
	}
	.down{
		padding-top: 0;
		padding-bottom: 5%;
	}
}
@media all and (max-width: 960px){
	.tour-btn{
		margin-bottom: 40px;
		display: inline-block;
		min-width: 100%;
	}
	.down{
		padding-top: 0;
		padding-bottom: 5%;
	}
}